@import "../variables.scss";

.white-background{
    background-color: rgba(255, 255, 255, 0.8);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    position: fixed;
}

.black-background{
    background-color: rgba(3, 3, 3, 0.8);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 6;
    overflow: hidden;
    position: fixed;
}

.invisible-background{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    z-index: 4;
}