#profile-posts{
    margin-top: -360px;
    display: flex;
    justify-content: center;
    margin-left: 30em;
    font-family: Arial, Helvetica, sans-serif;
}

#profile-make-posts{
    background-color: red;
    width: 617px;
    height: 123px;
}

#profile-posts img{
    height: 50px;
    width: 50px;
}