@import "../variables.scss";

.profile-header{
    height: 630px;
    width: 100vw;
    background-image: linear-gradient(#7e8387 ,#242526);

    input{
        display: none;
    }

    label{
        width: 40px;
        height: 40px;
        background-color: #3a3b3c;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #242526;

        &:hover{
            filter: brightness(1.2);
            cursor: pointer;
        }

        img{
            height: 25px;
            width: 25px;
            position: absolute;
            filter: brightness(0) invert(1);
            border: none;
            border-radius: 0;
            background-color: transparent;

            &:hover{
                filter:brightness(0) invert(1);
            }
        }
    }
}

.cover-photo{
    height: 410px;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;

    img{
        height: 410px;
        width: 1090px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        object-fit: cover;
        background-color: black;

        &:hover{
            cursor: pointer;
        }
    }
}

.profile-photo{
    display: flex;
    justify-content: center;
    margin-top: -28px;
    margin-right: 37.5em;

    img{
        height: 180px;
        width: 180px;
        border-radius: 50%;
        border: 3px solid #242526;
        object-fit: cover;
        background-color: black;

        &:hover{
            cursor: pointer;
            filter: brightness(1.1);
        }
    }
}

.user-name{
    margin-top: 75px;
    margin-left: 25px;
    color: #e3e6ea;
    font-family: $default-font;
    font-size: 38px;
}

.profile-photo-change{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    margin-top: -50px;
    width: 175px;
}

.cover-photo-change{
    position: absolute;
    margin-top: 350px;
    margin-right: -860px;

    &:hover{
        filter: brightness(0.9);
    }

    label{
        background-color: white;
        border-radius: 7px;
        width: 165px;
        height: 40px;
        font-family: $default-font;
        font-weight: bold;
    }
}