#make-posts > img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
}

#make-posts > img:hover{
    filter: brightness(1.2);
    cursor: pointer;
}

#make-posts > input{
    width: 610px;
    height: 45px;
    border-radius: 25px;
    background-color: #3a3b3c;
    border: none;
    margin-left: 8px;
}

#make-posts > input:hover{
    filter: brightness(1.2);
    cursor: pointer;
}

#make-posts ::placeholder{
    padding-left: 10px;
}

#make-posts{
    border-radius: 10px;
    display: flex;
    background-color: #242526;
    width: 685px;
    height: 125px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#newsfeed{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}