#gray-screen{
    width: 100vw;
    height: 100vh;
    background-color: #030303;
    position: fixed;
    top: 0;
    opacity: 75%;
}

.flex{
    display: flex;
}

#all-posts{
    display: flex;
    flex-direction: column-reverse;
}