#gray-screen{
    width: 100vw;
    height: 100vh;
    background-color: #030303;
    position: absolute;
    top: 0;
    opacity: 75%;
}

#posts-modal{
    border-radius: 7px;
    border: 1px solid #2f3031;
    position: absolute;
    z-index: 5;
    width: 500px;
    height: 430px;
    background-color: #242526;
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
}

.flex{
    display: flex;
}

.create-post{
    font-size: 22px;
    color: #e2e5e9;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 500px;
    align-items: center;
    border-bottom: 1px solid #2f3031;
}

.create-post :first-child{
    width: 38px;
}

.create-post :last-child{
    width: 38px;
    height: 38px;
    background-color: #3a3b3c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #909396;
    font-size: 22px;
    margin-right: 25px;
}

.create-post :last-child:hover{
    cursor: pointer;
    filter: brightness(1.2);
}

#posts-modal > div > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#posts-modal > div > img:hover{
    filter: brightness(1.1);
    cursor: pointer;
}

.create-post + div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 480px;
    color: #e3e6ea;
    margin: 10px;
}

#posts-modal > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts-modal > form > textarea{
    width: 480px;
    height: 155px;
    background-color: #242526;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 23px;
    color: #e3e6ea;
}

#posts-modal > form >textarea:focus{
    outline: none;
}

#posts-modal > form > textarea::placeholder{
    font-size: 23px;
    color: #afb2b7;
}

#posts-modal > form > label{
    width: 470px;
    height: 60px;
    border: 1px solid #3e3f41;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e3e6ea;
    margin-bottom: 15px;
    border-radius: 7px;
}

#posts-modal > form > label:hover{
    cursor: pointer;
}

#posts-modal > form > button{
    width: 470px;
    height: 40px;
    color: white;
    background-color: #2473e1;
    border: none;
    border-radius: 7px;
}

#posts-modal > form > button:hover{
    filter: brightness(1.2);
    cursor: pointer;
}

#all-posts{
    display: flex;
    flex-direction: column-reverse;
}