@import "../variables.scss";

.comment-item{
    display: flex;
    width: 95%;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;

}

.parent-comment{
    display: flex;
    width: 100%;
}

.comments-align, .reply-align{
    display: flex;
    align-items: center;
}

.comment-profile-photo{
    height: 37px;
    width: 37px;
    border-radius: 50%;
    object-fit: cover;
    justify-self: flex-start;

    &:hover{
        filter: brightness(1.1);
    }
}

.comment-box{
    line-height: 1.3333;
    margin-left: 5px;
    background-color: $highlight-gray;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 15px;
    max-width: 90%;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.comment-name{
    color: $metabook-offwhite;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

.replies-box{
    width: 85%;
}

.reply-form{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    img{
        height: 30px;
        width: 30px;
        border-radius: 50%;

        &:hover{
            filter: brightness(1.1);
        }
    }

    input{
        border-radius: 25px;
        border: none;
        height: 30px;
        width: 78.8%;
        margin-left: 10px;
        padding-left: 10px;
        background-color: $highlight-gray;
        outline: none;
        color: $metabook-offwhite;
    }
}

.newsfeed .comment-item .reply-form {
    width: 107%;

    input{
        width: 100%;
    }
}

.comments-dropdown-div{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: $metabook-lightblack;
    display: flex;
    margin-left: 10px;

    &:hover{
        filter: brightness(1.3);
        cursor: pointer;
    }
}

.comments-dropdown{
    height: 50%;
    width: 50%;
    filter: invert(78%) sepia(5%) saturate(266%) hue-rotate(179deg) brightness(94%) contrast(83%);;
}