@import "../variables.scss";

.reply{
    margin: 10px 0;
    display: flex;
}

.reply-profile-photo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.reply-body{
    display: flex;
    flex-direction: column;
    line-height: 1.3333;
    margin-left: 5px;
    background-color: $highlight-gray;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 15px;
    max-width: 90%;
    word-wrap: break-word;

    > :first-child{
        color: $metabook-offwhite;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}