@import "../variables.scss";

.reply{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.reply-profile-photo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.reply-body{
    display: flex;
    flex-direction: column;
    line-height: 1.3333;
    margin-left: 5px;
    background-color: $highlight-gray;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 15px;
    max-width: 90%;
    word-wrap: break-word;

    > :first-child{
        color: $metabook-offwhite;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}

.comment-item span.open-reply, .comment-like{
    font-size: 12px;
    color: $secondary-text;
    align-self: flex-start;
    margin-bottom: 10px;

    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

.open-reply{
    margin-left: 20px;
}

.comment-like{
    margin-left: 40px;
}

.comment-liked{
    color: $metabook-blue;
}

.like-and-comments-div{
    width: 100%;
    margin-bottom: 3px;
}

.reply-dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 350px;
    height: 95px;
    margin-top: 36px;
    margin-left: 206px;
    background-color: $metabook-lightblack;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.2));
    z-index: 6;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    
    div{
        border-radius: 8px;
        height: 45%;
        width: 98%;
        background-color: $metabook-lightblack;
        display: flex;
        align-items: center;

        &:hover{
            cursor: pointer;
            filter: brightness(1.3);
        }

        span{
            text-decoration: none;
            font-size: 15px;
            font-weight: normal;
            margin-left: 10px;
        }
    }
}

.edit-reply{
    background-color: $highlight-gray;
    height: 35px;
    margin-left: 10px;
    border-radius: 25px;
    outline: none;
    color: $metabook-offwhite;
    padding-left: 10px;
    border: none;
}

.reply .edit-reply{
    width: 515px;
}

.reply-top-half{
    display: flex;
}

.reply-header-image{
    &:hover{
        cursor: pointer;
        filter: brightness(1.1);
    }
}

.reply-body-name{
    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}