#greetings{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 258px;
    position: absolute;
    margin-top: 26vh;
    right: 48vw;
}

#greetings h1{
    font-family: klavika-web, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: #1977f2;
}

#greetings h1:hover{
    cursor: default;
}

#greetings h2{
    font-family: Helvetica, sans-serif;
    font-size: 28px;
    margin-top: 20px;
}