#login-container {
    font-family: 'Helvetica';
    position: absolute;
    left: 56vw;
    top: 17vh;
    z-index: 0;
}

#login-container form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    border: 1px solid #dde0e3;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .10), 0 8px 16px rgba(0, 0, 0, .10);
    background-color: white;
}

#login-container form :first-child{
    margin-top: 15px;
}

#login-container input {
    width: 360px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #dde0e3;
    margin-bottom: 15px;
    box-shadow: inset 0 0 5px #dde0e3;
    padding-left: 14px;
}

#login-container form :last-child{
    background-color: #42b729;
    color: white;
    height: 50px;
    width: 195px;
    border: none;
    border-radius: 8px;
    font-size: large;
    font-weight: 500;
}

#login-container form :last-child:hover{
    cursor: pointer;
    background-color: #3ca424;
}

.login-button {
    background-color: #1977f2;
    color: white;
    font-weight: bold;
    width: 365px;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-size: large;
}

.login-button:hover{
    cursor: pointer;
    background-color: #176edf;
}

::placeholder{
    font-size: 16px;
    color: #8e9296c2;
}

#demo-login{
    margin-top: 20px;
    color: #1977f2;
    font-size: 13px;
    margin-bottom: 0px;
}

#demo-login:hover{
    cursor: pointer;
    text-decoration: underline;
}

hr{
    width: 365px;
    border: 0.5px solid #dde0e3;
    margin-top: 25px;
    margin-bottom: 20px;
}

.create-a-page{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.create-a-page span{
    font-weight: bold;
}

.create-a-page span:hover{
    cursor: pointer;
    text-decoration: underline;
}