@font-face {
    font-family: 'Helvetica';
    src: "../../fonts/Helvetica.ttf";
}

#login-container {
    font-family: 'Helvetica';
}

#login-container input {
    margin: 5px;
}

#login-button {
    background-color: blue;
}